<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RC SURVEILLANCE CAR</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </head>
  <body class="noselect">
    <section>
      <div id="camera-container">
        <img id="videoElement" alt="video" src="{{ url_for('video') }}" />
      </div>
      <div id="control-container">
        <table id="main-table" cellspacing="5">
          <tr>
            <td>
              <button id="left-up" class="arrows">
                <span class="left-up">&#8679;</span>
              </button>
            </td>
            <td><button id="up" class="arrows">&#8679;</button></td>
            <td>
              <button id="right-up" class="arrows">
                <span class="right-up">&#8679;</span>
              </button>
            </td>
          </tr>
          <tr>
            <td><button id="left" class="arrows">&#8678;</button></td>
            <td></td>
            <td><button id="right" class="arrows">&#8680;</button></td>
          </tr>
          <tr>
            <td>
              <button id="left-down" class="arrows">
                <span class="left-down">&#8679;</span>
              </button>
            </td>
            <td><button id="down" class="arrows">&#8681;</button></td>
            <td>
              <button id="right-down" class="arrows">
                <span class="right-down">&#8679;</span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
